@model SalaryCalculatorWeb.Models.SettingsViewModels.EmployeeViewModel

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalId)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Created Date
        </th>
        <th>
            Gross Salary
        </th>
        <th>
            Fixed Bonus
        </th>
        <th>
            Non Fixed Bonus
        </th>
        <th>
            Social Security Income
        </th>
        <th>
            Personal Insurance
        </th>
        <th>
            Income Tax
        </th>
        <th>
            Net Wage
        </th>
    </tr>

    @foreach (var item in Model.EmployeePaychecks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossFixedBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossNonFixedBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalInsurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetWage)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add Labor Contract", "CreateLaborContract", "LaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Non-Labor Contract", "CreateNonLaborContract", "NonLaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Add Freelance Contract","CreateFreelanceContract","FreelanceContract", new { id = Model.Id }, htmlAttributes: new { @class="btn btn-warning"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>