@model SalaryCalculatorWeb.Models.SettingsViewModels.EmployeeViewModel

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add Labor Contract", "CreateLaborContract", "LaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Non-Labor Contract", "CreateNonLaborContract", "NonLaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Freelance Contract","CreateFreelanceContract","FreelanceContract", new { id = Model.Id }, htmlAttributes: new { @class="btn btn-primary"})
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })
</p>
