@model SalaryCalculatorWeb.Models.SettingsViewModels.EmployeeViewModel

<div>
    <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)</h1>
    <hr />
</div>
@if (Model.EmployeePaychecks.Count() != 0)
{
    <h2>Paychecks</h2>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <tr>
            <th>
                Personal Id
            </th>
            <th>
                Created Date
            </th>
            <th>
                Gross Salary
            </th>
            <th>
                Fixed Bonus
            </th>
            <th>
                Non Fixed Bonus
            </th>
            <th>
                Social Security Income
            </th>
            <th>
                Personal Insurance
            </th>
            <th>
                Income Tax
            </th>
            <th>
                Net Wage
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.EmployeePaychecks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.PersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossFixedBonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossNonFixedBonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialSecurityIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetWage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "LaborContract", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "LaborContract", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </table>
}

@if (Model.RemunerationBills.Count() != 0)
{
    <h2>Remuneration Bills</h2>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <tr>
            <th>
                Personal Id
            </th>
            <th>
                Created Date
            </th>
            <th>
                Gross Salary
            </th>
            <th>
                Social Security Income
            </th>
            <th>
                Personal Insurance
            </th>
            <th>
                Income Tax
            </th>
            <th>
                Net Wage
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.RemunerationBills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.PersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialSecurityIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetWage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "NonLaborContract", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "NonLaborContract", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </table>
}

@if (Model.SelfEmployments.Count() != 0)
{
    <h2>Self Insurance documents</h2>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <tr>
            <th>
                Personal Id
            </th>
            <th>
                Created Date
            </th>
            <th>
                Gross Salary
            </th>
            <th>
                Social Security Income
            </th>
            <th>
                Personal Insurance
            </th>
            <th>
                Income Tax
            </th>
            <th>
                Net Wage
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.SelfEmployments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.PersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialSecurityIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetWage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "FreelanceContract", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "FreelanceContract", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Add Labor Contract", "CreateLaborContract", "LaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Add Non-Labor Contract", "CreateNonLaborContract", "NonLaborContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("Add Freelance Contract", "CreateFreelanceContract", "FreelanceContract", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning btn-sm" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>