@model SalaryCalculatorWeb.Models.ReportViewModel.TotalLaborCostViewModel

<div>
    <h2>
        <a href="#accordeonReport" class="accordion-title accordionTitle js-accordionTrigger" data-toggle="collapse" aria-expanded="false" aria-controls="accordion1">
            Total costs:
            <p>Total Income taxes: @Html.DisplayFor(model => model.TotalIncomeTaxes) лв.</p>
            <p>Total Social Security income: @Html.DisplayFor(model => model.TotalSocialSecurityIncome) лв.</p>
            <p>Total Employer expenses: @Html.DisplayFor(model => model.TotalEmployerInsuranceTaxes) лв.</p>
        </a>
    </h2>
    <table id="accordeonReport" aria-hidden="true" class="table table-bordered table-hover table-responsive table-striped collapse accordion-content accordionItem is-collapsed">
        <tr>
            <th>
                Labor Income taxes
            </th>
            <th>
                Labor Social security income
            </th>
            <th>
                Labor Employer expenses
            </th>
            <th>
                Non-Labor Income taxes
            </th>
            <th>
                Non-Labor Social security income
            </th>
            <th>
                Non-Labor Employer expenses
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TotalLaborIncomeTaxes) лв.
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalLaborSocialSecurityIncome) лв.
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalLaborEmployerInsuranceTaxes) лв.
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalNonLaborIncomeTaxes) лв.
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalNonLaborSocialSecurityIncome) лв.
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalNonLaborEmployerInsuranceTaxes) лв.
            </td>
        </tr>
    </table>
</div>
